/* Reset and general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
  position: relative;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

nav ul li a:hover {
  color: #cfcfcf;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #080808;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li:hover {
  background-color: #f7efef;
}

main {
  padding: 20px;
}

.juice-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.juice-item {
  margin: 10px;
  text-align: center;
}

.juice-item img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.juice-item img:hover {
  transform: scale(1.1);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
